<?xml version="1.0" ?>
<robot xmlns:xacro="mecano" name="gazebo_sim">

  <xacro:macro name="gazebo_sim">
    <gazebo reference="left_foot">
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="right_foot">
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="base_link">
      <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="front_link">
      <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="left_wheel">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="right_wheel">
      <material>Gazebo/Black</material>
    </gazebo> 

    <gazebo reference="ultrasound_front">
      <material>Gazebo/Silver</material>
      <sensor type="ray" name="ultrasound_front">
        <!--parent link="ultrasound_front" /-->
        <visualize>true</visualize>
        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>
              <max_angle>0.10</max_angle>
            </horizontal>
            <vertical>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>
              <max_angle>0.10</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.01</min>
            <max>4.0</max>
            <resolution>0.02</resolution>
          </range>
        </ray>
        <plugin name="us_plugin_sonar" filename="libgazebo_ros_range.so">
          <always_on>true</always_on>
          <topicName>/ultrasound_front</topicName>
          <frameName>ultrasound_front</frameName>
          <radiation>ULTRASOUND</radiation>
          <fov>0.29</fov>
          <gaussianNoise>0.0</gaussianNoise>
          <updateRate>30</updateRate>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="ultrasound_left">
      <material>Gazebo/Silver</material>
      <sensor type="ray" name="ultrasound_left">
        <!--parent link="ultrasound_left" /-->
        <visualize>true</visualize>
        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>
              <max_angle>0.10</max_angle>
            </horizontal>
            <vertical>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>
              <max_angle>0.10</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.01</min>
            <max>4.0</max>
            <resolution>0.02</resolution>
          </range>
        </ray>
        <plugin name="us_plugin_sonar" filename="libgazebo_ros_range.so">
          <always_on>true</always_on>
          <topicName>/ultrasound_left</topicName>
          <frameName>ultrasound_left</frameName>
          <radiation>ULTRASOUND</radiation>
          <fov>0.29</fov>
          <gaussianNoise>0.0</gaussianNoise>
          <updateRate>30</updateRate>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="ultrasound_right">
      <material>Gazebo/Silver</material>
      <sensor type="ray" name="ultrasound_right">
        <!--parent link="ultrasound_right"/-->
        <visualize>true</visualize>
        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>
              <max_angle>0.10</max_angle>
            </horizontal>
            <vertical>
              <samples>10</samples>
              <resolution>1</resolution>
              <min_angle>-0.10</min_angle>
              <max_angle>0.10</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.01</min>
            <max>4.0</max>
            <resolution>0.02</resolution>
          </range>
        </ray>
        <plugin name="us_plugin_sonar" filename="libgazebo_ros_range.so">
          <always_on>true</always_on>
          <topicName>/ultrasound_right</topicName>
          <frameName>ultrasound_right</frameName>
          <radiation>ULTRASOUND</radiation>
          <gaussianNoise>0.0</gaussianNoise>
          <fov>0.29</fov>
          <updateRate>30</updateRate>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo>
      <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <leftJoint>left_wheel_joint</leftJoint>
        <rightJoint>right_wheel_joint</rightJoint>
        <robotBaseFrame>base_link</robotBaseFrame>
        <odometrySource>world</odometrySource>
        <rosDebugLevel>na</rosDebugLevel>
        <wheelSeparation>0.143</wheelSeparation>
        <wheelDiameter>0.07</wheelDiameter>
        <publishWheelJointState>true</publishWheelJointState>
        <commandTopic>cmd_vel</commandTopic>
        <publishTf>1</publishTf>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <legacyMode>false</legacyMode>
        <wheelTorque>5</wheelTorque>
        <updateRate>100</updateRate>
        <odometrySource>1</odometrySource>
        <publishWheelTF>false</publishWheelTF>
        <publishOdomTF>true</publishOdomTF>
        <wheelAcceleration>0</wheelAcceleration>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>